In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [6]:
df = pd.read_csv('listings.csv.gz', compression='gzip')

In [7]:
raw_host = pd.read_csv('../processed_data/raw_listing.csv', encoding='ISO-8859-1')
raw_host['created_at'] = pd.to_datetime(raw_host['created_at']).dt.strftime('%Y-%m-%d %H:%M:%S')
raw_host['updated_at'] = pd.to_datetime(raw_host['updated_at']).dt.strftime('%Y-%m-%d %H:%M:%S')
raw_host.head()

,id,listing_url,name,room_type,minimum_nights,host_id,price,created_at,updated_at
0,25436,https://www.airbnb.com/rooms/25436,Rental unit in Be??ikta??/ bebek ?? 2 bedrooms...,Entire home/apt,3,105823,"$2,894.00",2009-06-05 21:34:00,2009-06-05 21:34:00
1,27271,https://www.airbnb.com/rooms/27271,Rental unit in Istanbul Province ?? ???5.0 ?? ...,Entire home/apt,10,117026,"$1,447.00",2009-08-12 12:30:00,2009-08-12 12:30:00
2,423833,https://www.airbnb.com/rooms/423833,Rental unit in Istanbul ?? 1 bedroom ?? 4 beds...,Private room,2,2081426,"$1,157.00",2015-07-30 05:08:00,2015-07-30 05:08:00
3,28277,https://www.airbnb.com/rooms/28277,Serviced apartment in Istanbul ?? ???5.0 ?? 1 ...,Entire home/apt,10,121607,"$2,575.00",2010-06-15 19:56:00,2010-06-15 19:56:00
4,429200,https://www.airbnb.com/rooms/429200,Loft in Istanbul Galata Beyoglu Tophane ?? 2 ...,Entire home/apt,5,182639,"$2,286.00",2010-05-30 12:11:00,2010-05-30 12:11:00

In [20]:
raw_host.to_csv('../processed_data/raw_listing.csv', index=False)